* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
}

.navbar {
	padding: 5px;
	font-family: 'Lato', sans-serif;
}

.navbar-header {
	display: flex;
	padding-bottom: 5px;

	&__logo {
		img {
			max-height: 40px;
		}
	}

	&__menu {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    &_change {
    	.navbar-header__bar1 {
		    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
		    transform: rotate(-45deg) translate(-9px, 6px);
			}
			.navbar-header__bar2 {opacity: 0;}
			.navbar-header__bar3 {
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
				transform: rotate(45deg) translate(-8px, -8px);
			}
    }
	}

	&__bar1,&__bar2,&__bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 9px 0;
    transition: 0.4s;
	}
}

.navbar-collapse {
	border-top: 1px solid grey;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
	a {
		display: block;
		line-height: 20px;
		padding: 10px 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}
	&_expanded {
		display: block;
	}
}

.main {
	background: #0E94D3;
	color: white;
	height: 80%;
	font-size: 1.5em;
	line-height: 1.5em; 
	padding-left: 15px;
	padding-right: 15px;	

	h1 {
		padding-top: 30%;
		padding-bottom: 10%;
		font-weight: normal;
	}

	button {
		margin-top: 30%;
		background: #FF8B05;
		padding: 10px 25px;
		color: white;
	}
}