* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $base-font;
	font-size: 16px;
	color: $grey;
}

.button, button {
	background: $orange;
	padding: 10px 25px;
	color: white;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: lighten($orange, 10%);
	}
}

textarea {
	font-family: Arial;
}