/* Smaller screens ----------- */
@media only screen 
and (max-width : 320px) {
	.main {
		font-size: 1.2em;
		h1, p {
			margin-bottom: 20px;
		}
	}
}

@media only screen 
and (min-width : 600px) {
	.main {
		padding-left: 30px;
		p {
			width: 50%;
		}
	}
	.tools {
		p {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
		}
		img {
			max-height: 50px;
		}
	}
	.skills {
		padding-left: 40px;
		padding-right: 40px;
	}
	.projects {
		p {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
		img {
			width: 49%;
			margin: 0;
			display: inline-block;
			vertical-align: top;
		}
		.arrow.arrow-prev {
			margin-left: 20px;
		}
		.arrow-next {
			margin-right: 20px;
		}
	}

	.carousel-item-content {
		width: 70%;
		margin: 0 auto;
		p {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding: 0 30px;
			text-align: initial;
		}

	}
	.contact {
		form {
			width: 65%;
			* {
				margin-bottom: 10px;
			}
		}
		input {
			display: initial;
			width: 49.5%;
		}
		textarea {
			height: 150px;
		}
	}
	.social {
		ul {
			width: 65%;
			margin: 0 auto;
		}
	}
}