$blue: #0E94D3;
$light-blue: lighten($blue, 50%);
$grey: #8e8e8e;
$light-grey: #E0E0E0;
$orange: #FF8B05;
$white-tint: #F2F2F2;


$navbar-font: 'Lato', sans-serif;
$base-font: 'Catamaran', sans-serif;